.before::before {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("./assets/home/bg-pattern-header.svg");
  width: 120vw;
  height: 140vh;
  margin-right: -40vw;
  margin-top: -50vh;
  z-index: -1;
  content: '';
  right: 0;
  top: 0;
  position: absolute;
}

.container {
  width: 75%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: "Kumbh Sans", sans-serif !important;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  margin-top: 10vh;
}

.hero {
  width: 100%;
  margin-top: 10vh;
}

.hero .bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/home/illustration-charts.svg");
}

.hero .col {
  padding-top: 10vh;
  min-height: 75vh;
}

.hero h1 {
  font-size: 52px;
  color: #333950;
  font-weight: 800;
}

.hero p {
  color: #747b9b;
  font-size: 18px;
  margin: 20px 0;
  line-height: 150% !important;
}

.cta {
  padding: 15px 30px;
  -webkit-box-shadow: 0 2.8px 1.8px rgba(0, 0, 0, 0.04), 0 6.7px 4.3px rgba(0, 0, 0, 0.029), 0 12.6px 8px rgba(0, 0, 0, 0.024), 0 22.6px 14.3px rgba(0, 0, 0, 0.02), 0 42.2px 26.7px rgba(0, 0, 0, 0.016), 0 101px 64px rgba(0, 0, 0, 0.011);
          box-shadow: 0 2.8px 1.8px rgba(0, 0, 0, 0.04), 0 6.7px 4.3px rgba(0, 0, 0, 0.029), 0 12.6px 8px rgba(0, 0, 0, 0.024), 0 22.6px 14.3px rgba(0, 0, 0, 0.02), 0 42.2px 26.7px rgba(0, 0, 0, 0.016), 0 101px 64px rgba(0, 0, 0, 0.011);
  border-radius: 25px;
  background-color: #5175ff;
  color: white;
  border: none !important;
  font-weight: 800;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
  form {
    margin: 0 auto !important;
    padding: 20px 0;
  }
  .end {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .hero {
    width: auto;
  }
  .hero .col {
    padding: 20px 0;
  }
  .hero, .navbar {
    margin-top: 0;
    text-align: center;
  }
  .hero h1, .navbar h1 {
    text-align: left;
    font-size: 36px;
  }
  .hero p, .navbar p {
    text-align: left;
  }
  .hero .col, .navbar .col {
    min-height: auto;
  }
  .hero .bg, .navbar .bg {
    min-height: 50vh;
  }
  .before {
    width: 85% !important;
  }
  .before::before {
    margin-right: 0 !important;
    margin-top: -20vh !important;
    width: 100% !important;
    height: 75vh;
    background-size: cover !important;
  }
}

.pricing-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  z-index: 2;
  color: #333950;
}

.pricing-container .p-card.dark {
  color: white;
  background-size: contain;
  background-color: #5175ff;
}

.pricing-container .p-card.dark li {
  color: white;
  opacity: 0.8;
}

.pricing-container .p-card.dark .btn-light {
  background-color: white;
}

.pricing-container .p-card.dark .btn-light:hover {
  background-color: #e4eaff;
  color: #5175ff;
}

.pricing-container .p-col {
  padding: 10px;
}

.pricing-container h4 {
  margin: 20px auto;
  font-weight: 800;
  font-size: 20px;
}

.pricing-container h1 {
  margin: 20px auto;
  font-size: 50px;
  font-weight: 800;
}

.pricing-container p {
  font-size: 18px;
  margin-bottom: 50px;
}

.pricing-container button {
  padding: 15px 30px;
  font-weight: 800;
  border: none;
  margin: 25px auto;
  border-radius: 25px;
  font-size: 16px;
  -webkit-box-shadow: 0 100px 27px rgba(0, 0, 0, 0.04);
          box-shadow: 0 100px 27px rgba(0, 0, 0, 0.04);
}

.pricing-container .btn-light {
  background-color: #e4eaff;
  color: #5175ff;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.pricing-container .btn-light:hover {
  background-color: #5175f8;
  color: white;
}

.pricing-container li {
  list-style: none;
  text-align: center;
  font-size: 16px;
  margin: 10px auto;
  color: #747b9b;
}

.pricing-container .p-card {
  -webkit-box-shadow: 0 100px 27px rgba(0, 0, 0, 0.04);
          box-shadow: 0 100px 27px rgba(0, 0, 0, 0.04);
  position: relative;
  z-index: 1;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  min-height: 500px;
  width: 100%;
  border-radius: 15px;
}

footer {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 75vh;
  background-color: #25293a;
  background-size: cover;
  margin-top: -35vh;
  background-image: url("./assets/home/bg-pattern-footer.svg");
  padding-top: 45vh;
  margin-bottom: 0  !important;
  color: white;
}

footer h4 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 800;
}

footer h4 span {
  color: #5175ff;
}

.end {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  position: relative;
  z-index: 2 !important;
}

button:focus {
  outline: none !important;
}

.main-col {
  min-height: 100vh;
}

.main-col .container {
  width: 60%;
}

.main-col .para {
  font-size: 20px;
  color: #747b9b;
  line-height: 125%;
  margin: 5vh auto;
}

.main-col h4 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 800;
}

.main-col h4 span {
  color: #5175ff;
}

.main-col .heading {
  font-size: 58px;
  line-height: 120%;
  color: #333950;
  font-weight: 800;
}

.timer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timer .t-card {
  width: 120px;
  margin: 10px 0;
  min-height: 100px;
  border-radius: 10px;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333950;
}

.timer .t-card span {
  font-weight: 800;
  font-size: 52px;
  line-height: 52px;
}

.timer .t-card p {
  margin: 0px auto;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 16px;
  opacity: 0.9;
}

.timer .t-card.light {
  background-color: #edf1ff !important;
  color: #5175ff !important;
}

.darkbg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-color: #25293a;
  background-image: url("./assets/home/bg-pattern-footer.svg");
}

form {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -40%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  width: 90%;
  min-height: 50vh;
  background-color: white;
}

form input {
  width: 80%;
  margin: 10px auto;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #747b9b;
  padding: 10px 10px;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form input :focus {
  outline: none !important;
  border: none !important;
}

form input::-webkit-input-placeholder {
  color: #747b9b;
  font-size: 16px;
  font-weight: 500;
}

form input:-ms-input-placeholder {
  color: #747b9b;
  font-size: 16px;
  font-weight: 500;
}

form input::-ms-input-placeholder {
  color: #747b9b;
  font-size: 16px;
  font-weight: 500;
}

form input::placeholder {
  color: #747b9b;
  font-size: 16px;
  font-weight: 500;
}

form button {
  background-color: #5175ff;
  border: none !important;
  color: #ffffff !important;
  font-weight: 800;
  font-size: 16px;
  width: 70%;
  position: relative;
  padding: 15px 10px;
  margin: 20px auto;
  border-radius: 30px;
}

form button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #849dff;
}

form h5 {
  width: 100%;
  font-size: 16px;
  color: #333950;
  font-weight: 800;
}

form h5 span {
  margin: 0 20px;
  color: #747b9b;
}

form .list {
  text-align: center;
  margin: 10px auto;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 -1.5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 -1.5px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 75%;
  height: 0vh;
  border-radius: 10px;
  display: none;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

form .list h5 {
  cursor: pointer;
  border-bottom: 1px solid #747b9b;
  padding: 10px;
}

form .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #747b9b;
  padding: 15px 10px !important;
  width: 80%;
}

form .dropdown i {
  color: #5175ff;
  font-size: 20px;
  cursor: pointer !important;
}
